*.bk
*.log
*.pdb
*.profdata
*.profraw
*.rar
*.rs.bk
*.swo
*.swp
*.tar.gz
*.tmp
*.zip
*~
**/.DS_Store
**/target/
._*
.DS_Store
.DS_Store?
.env
.env.*.local
.env.local
.idea/
.local/
.Spotlight-V100
.Trashes
.vscode/
/assets/generated/
/build/
/coverage/
/crates/*/Cargo.lock
/crates/*/target/
/dist/
/examples/target/
/out/
/target/
/target/criterion/
/target/debug/
/target/doc/
/target/release/
/tmp/
/vendor/
Cargo.lock
ehthumbs.db
*.iml
logs/
scratch/
Thumbs.db
