**/.DS_Store
**/target/
*.bk
*.iml
*.log
*.pdb
*.profdata
*.profraw
*.rar
*.rs.bk
*.swo
*.swp
*.tar.gz
*.tmp
*.zip
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.env
.env.*.local
.env.local
.idea/
.local/
.rules
.vscode/
/assets/generated/
/build/
/coverage/
/crates/*/Cargo.lock
/crates/*/target/
/dist/
/examples/target/
/out/
/target/
/target/criterion/
/target/debug/
/target/doc/
/target/release/
/tmp/
/vendor/
Cargo.lock
Thumbs.db
ehthumbs.db
logs/
scratch/
