.DS_Store
node_modules

*.log
logs

.vscode/*
!.vscode/extensions.json

.claude/*
!.claude/agents/

dist
dist-ssr
**/build/**
target
*.local

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.rules
